.Main h2{
  text-decoration-line: underline;
  font-weight: 800;
}
.Main {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-family: "";
}

.mission {
  background-color: #133863;
  text-align: center;
  margin: 40px;
  margin-bottom: 20px;
  color: #ffde00;
  border-radius: 20px;
}

.mission-text{
  text-align: left;
  margin: 20px;
}
.problem-pic{

  width: 80%;
  height: 80%;
  margin:25px;
}

.place-holder {
  margin: auto;
  width: 80%;
  height: 80%;
}

.problem {
  width: 80%;
  margin: auto;
  /*margin: 0px 70px 0px 70px;
  margin-top: 20px;*/
  color: #ffde00;
  border-radius: 20px;
}


.solutions {
  background-color: #133863;
  color: #ffde00;
  text-align: center;
  float: left;
  margin:40px; 
  border-radius: 20px

}
.solution-explain{
  color: #ffde00;
  border-radius: 20px

}
.solution-pic {
  width: 80%;
  height: 80%;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 0px;
  margin: 0px;
}
.title {
  text-align: center;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #282c34;
  border-radius: 20px;

}
.colorRow {
  background-color: #282c34;
  margin: 10px;
  margin-top: 0px;
  margin-left: 15px;
  border-radius: 20px;
  position: relative;

}
.align-container {
  justify-content: center;
  max-width: 60%;
  max-height: 55%;
  min-height: 30%;
  min-width:  45%;
  border-radius: 20px;
  position: sticky;
  border-color: black;
}